

<h1>
  {{title}}
</h1>

<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button>
<br><br><br><br><br>
<router-outlet></router-outlet>



<form [formGroup]="orderForm"  (ngSubmit)="onSubmit()">
    <input formControlName="customerName" placeholder="Customer Name"><br><br>
    <input formControlName="email" placeholder="Customer Email"><br><br>
<div formArrayName="items"
  *ngFor="let item   of orderForm.controls['items'].controls; let i = index;">
  <div [formGroupName]="i">

    <input formControlName="name" placeholder="Item name"><br><br>
    <input formControlName="description" placeholder="Item description"><br><br>
    <input formControlName="price" placeholder="Item price"><br><br>
  </div><br><br>
</div>
<button type="button" (click)="addItem()">Add More Field</button><BR><BR>
<button type="submit">Save</button>

</form>
